body{
    background-color:rgb(255, 253, 253)
}

h1{
    text-align:center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(244, 105, 50);
    font-size:50px;
}

h2{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: fit-content;
    color:rgba(247, 117, 66, 0.998);
    border-radius: 10px;
    font-size: 40px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    font-size:20px;
}

.contenido{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 90px;
}
.d1{
    text-align: left;
}

.d2{
    text-align:right;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 16px;                            
}

.galeria img {
  width: 100%;       /* Ocupa todo el ancho de su columna */
  height: 250px;     /* Ajusta la altura a la que prefieras */
  object-fit: cover; /* Evita que las fotos se deformen o estiren */
  border-radius: 8px;/* Opcional: esquinas redondeadas */
}

li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    font-size:20px;
}

label{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(0, 0, 0);
    font-size:20px;
}

.btn1{
    height: 40px;
    width: 100px;
}